*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 500px;
    margin: 20px auto;
}

.container h1{
    text-align: center;
    margin: 40px 0;
}

.container h1::after{
    content: '';
    background-color: orange;
    height: 2px;
    width: 200px;
    display: block;
    margin: 10px auto;
}

.field{
    width: 100%;
    display: block;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.field-name{
    width: 30%;
}

.field-input{
    width: 70%;
}

.field-input input:not([type="password"]){
    width: 100%;
    padding: 5px 8px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 18px;
}

.field-input input[type="password"]{
    padding: 5px 8px;
    outline: none;
    border: none;
    font-size: 18px;
}
 
.p-in{
    border: 1px solid lightgray;
}

.p-copy, .p-show{
    display: inline-block;
}

.b-div{
    width: 100%;
    display: block;
}

.b-div button{
    width: 100%;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    background-color: lightgreen;
    border: 1px solid lightblue;
    padding: 8px 0;
}
